body {
  /* background-color: #9900ad; */
  background-color: #006eff;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.1em;
}

#background {
  transition: background 1s;
}

h1 {
  color: white;
}

#tudo {
  margin: 14% 20px 0;
}

h1 {
	margin: 3.5em 0 1em 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

label {
  margin-right: 15px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  /* border: 6px solid #7b008b; */
  border: 6px solid #006eff;

}

button,
legend {
  color: white;
  /* background-color: #7b008b; */
  background-color: #006eff;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
  max-width: 600px;
}

button {
  margin: 10px 0;
    
}

button:hover,
button:focus {
  color: #999;
}

button:active {
  background-color: white;
  color: black;
  outline: none;
}

.trechos {
  display: none;
  position: static;
  opacity: 1;
  transition: opacity 1s linear;
  text-align: justify;
}

#form {
  text-align: left;
  max-width: 600px;
}

#parteUm {
  display: none;
}

#segundos {
  font-size: 1.1em;
}

#mediaDeLeitura {
  font-size: 2em;
  padding-bottom: 10%;
}

#iframe {
  display: none;
  float: left;
}

@media (min-width: 660px) {
  #tudo {
    max-width: 700px;
    margin: 10% auto 0;
    }
  #textoFront {
    font-size: 3em;
  }
}

@media (min-width: 900px) {
  #tudo {
    max-width: 800px;
    margin: 8% auto;
    }
}

#botaoFront {
  background: transparent;
  color: white;
  font-size: 1.3em;
}

#botaoFront:hover,
#botaoFront:focus,
#textoFront:hover,
#textoFront:focus {
  color: #d5d5ef;
}

iframe {
  width:120px;
  height:240px;
  margin: 0 0;
}

#demo-top-bar {
  display: none;
  /* background: rgb(255, 255, 255); */
  position: relative;
  width: 100% !important;
  z-index: 6000;
  padding: 20px 0 0;
  font-weight: bold;
}

a, h6 {
  color: #006eff;
}